---
import type { AthleteProfile } from '../../lib/types';
interface Props { contact: AthleteProfile['contact']; }
const { contact } = Astro.props;
---
<section>
  <h2>Contact</h2>
  <dl>
    {contact.athlete.phone && (<><dt>Phone</dt><dd>{contact.athlete.phone}</dd></>)}
    {contact.athlete.twitter && (<><dt>X</dt><dd><a href={contact.athlete.twitterUrl}>{contact.athlete.twitter}</a></dd></>)}
    {contact.hudl && (<><dt>Hudl</dt><dd><a href={contact.hudl}>Profile</a></dd></>)}
  </dl>
</section>
